<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
      integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="../css/main.css" />
    <title>About Me</title>
  </head>

  <body>
    <!-- The header section for the page -->
    <header>
      <!-- The three menu bars -->
      <div class="menu-btn">
        <div class="btn-line"></div>
        <div class="btn-line"></div>
        <div class="btn-line"></div>
      </div>

      <!-- Transition menu links -->
      <nav class="menu">
        <div class="menu-branding">
          <div class="portrait"></div>
        </div>
        <ul class="menu-nav">
          <li class="nav-item">
            <a href="../index.html" class="nav-link">
              Home
            </a>
          </li>
          <li class="nav-item current">
            <a href="./about.html" class="nav-link">
              About Me
            </a>
          </li>
          <li class="nav-item">
            <a href="./work.html" class="nav-link">
              My Work
            </a>
          </li>
          <li class="nav-item">
            <a href="./contact.html" class="nav-link">
              Contact Me
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <!-- The about me page -->
    <main id="about">
      <h1 class="lg-heading">
        About
        <span class="text-secondary">Me</span>
      </h1>
      <h2 class="sm-heading">
        Let me tell you a few things...
      </h2>
      <div class="about-info">
        <img
          src="../img/itishmita.jpg"
          alt="Itishmita Mishra"
          class="bio-image"
        />

        <div class="bio">
          <h3 class="text-secondary">BIO</h3>
          <p>
            I am called Itishmita Mishra, I will graduate from OP Jindal 
            University in 2020 with a Bachelor of Technology in Computer Science
            Engineering. I am an Web Developer and Data Science Enthusiast.
          </p>
        </div>

        <!-- The current jobs I am offering -->
        <div class="job job-1">
          <h3>Back End Developer</h3>
          <p>
            I am a progressive back end developer in combination of,
            PHP and MySQL. I am grasping much of the knowledge so 
			that I would develop best products to the Customer satisfaction.
          </p>
        </div>

        <div class="job job-2">
          <h3>Front End Developer</h3>
          <p>
            I am a progressive front end developer in combination of,
            HTML,CSS and Javascript. I am grasping much of the knowledge so 
			that I would develop best products to the Customer satisfaction.
          </p>
        </div>

        <div class="job job-3">
          <h3>Data Science Enthusiast</h3>
          <p>
             I am a progressive in the field of Data Science using 
			 Python language. I am grasping much of the knowledge so 
			 that I would develop best products to the Customer satisfaction.
          </p>
        </div>
      </div>
    </main>

    <!-- the footer of the page -->
    <footer id="main-footer">
      Itishmita Mishra | Copyright &copy; 2019
    </footer>
    <!-- Link to the JavaScript file -->
    <script src="../js/main.js"></script>
  </body>
</html>
